@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --font-padrao: 'Poppins';
  --font-retro: 'Press Start 2P';

  --verde-titulo: #9BEC00;
  --verde: #00DFA2;       
  --amarelo: #FFD65A;     
  --azul: #0079FF;      
  --vermelho: #FF0060;            
  --branco: #FFFFFF;
  --roxo: #4300FF;
  --cinza: #141414;
  --preto: #000000;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body,
html {
  color: var(--branco);
  background-color: var(--preto);
}

ol,
ul {
  list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}